.chart--pie {
    /* flex: 1 1 30%;  Každý graf zabírá minimálně 30% šířky */
    width: 18%;
    max-width: 33%;  /* Maximální šířka grafu na větších obrazovkách */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}