body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #4CAF50;
  color: white;
}

.title {
  text-align: center;
  margin-top: 50px;

}

.subtitle {

}


.section {
  border: 2px solid red;
  border-radius: 20px;
  margin: 50px;
  text-align: center;
  padding: 20px;
}

