.chart--line {
    flex: 1 1 30%;  /* Každý graf zabírá minimálně 30% šířky */
    max-width: 33%;  /* Maximální šířka grafu na větších obrazovkách */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}